<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1 font-weight-bold">{{title}}</span>
</nav>
<owl-carousel [options]="carouselOptions"
              [items]="banners"
              [carouselClasses]="['owl-theme', 'row', 'sliding']">
  <div class="item"
       *ngFor="let image of banners;let i=index">
    <img class="slide-image rounded img-fluid"
         src="{{image.image_src[screenResolution]}}" />
    <div class="slide-text">
      <h4>Simple banner</h4>
    </div>
  </div>
</owl-carousel>
<router-outlet></router-outlet>
